<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../Css/style.css" />
  <script src="../Script/Dark-Mode.js"></script>
  <title>Movie Minds Hub</title>
  <link rel="icon" type="image/x-icon" href="../Icon/Icon-WebPage-2.png" />
</head>

<body>
  <!-- Nav Bar Menu -->
  <div class="navbar">
    <!-- Menu -->
    <ul class="navbar-menu">
      <li><a href="/" class="nav-item"> Home </a></li>
      <li><a href="/movies" class="nav-item"> Movie </a></li>
      <li><a href="/contact" class="nav-item"> Contact </a></li>
      <li class="Caption"> Reviews By , For You </li>
    </ul>

    <!-- Logo Webpage -->
    <div class="navbar-logo">
      <img class="Logo-Dark" src="../Icon/Logo-WebPage.png" width="150px" height="150px" />
      <img class="Logo-Light" src="../Icon/Logo-WebPage-Light.png" width="150px" height="150px" />
    </div>

    <!-- Search Bar -->
    <div class="search-bar" id="searchBar">
      <form action="/searchMovie" method="GET" class="search-form">
        <input id="inputSearch" type="text" name="searchTerm" placeholder="Search ..." />
        <button type="submit" class="button-search">
          <img class="search-img" src="../Icon/Search-Icon-Dark1.png" alt="" />
        </button>
      </form>
    </div>

    <!-- Botton Login  -->
    <button class="button-login">
      <a href="/login"> Login </a>
    </button>

    <!-- Botton Register  -->
    <button class="button-register">
      <a href="/register"> Sign Up </a>
    </button>

    <button class="Button-Mode" onclick="toggleModeAndImage()">
      <img class="image-Switch" id="imageSwitch" src="../Icon/Dark-mode-1.png" alt="Your Image">
    </button>

  </div>

  <div class="register-container">
    <h2 class="title">Register</h2>

    <form action="/registerPost" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter username..." />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter email..." />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter password..." />

      <button type="submit" class="button-submit-login">Submit</button>
    </form>
  </div>

  <div class="banner-container">
    <div class="banner-images"></div>
  </div>
</body>

</html>